.menu {
    background-color: #E8DFCA;
    color: #194D2E;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    & ul {
        display: flex;
        gap: 40px;

        & li {
            list-style-type: none; 
        }
    }
    & a{
        text-decoration: none;
        color: #FFFFFF;
    }
}